html{
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    font-family: 'Dosis', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;

}

@media only screen and (max-width: 800px) {
    html{
        font-size: 45%;

        overflow-x: hidden;

    }
    body{
        overflow-x: hidden;
    }
    .content-first{

        font-size: 1.3rem;
        height: 28vh;
        &__inner{
            height:20vh;
            &--text{
                font-size: 2.4rem;
            }
            &--link{
                font-size: 1.8rem;
            }
        }
    }
    .slider-nav{
        
        display: inline;
        &--container{
            display: flex;
            justify-content: center;
        }
    }
    .rooms{
        display: block !important;
    }
    .card{
        border: 2px solid $color-primary;
        font-size: 3.5rem;
        margin: 0 0 !important; 
        border-radius: 0 !important;
    }
    .footer{

        &__links{
            margin-left: -4rem;
            &-link{
                display: block;
            }
        }
    }
}